/* Login Screen CSS starts */

*{margin:0; padding:0;}
html{	
	width:100%;
	height:100%;
}
body{
	font-family: Arial,Helvetica sans-serif;
    color: #646464;
	
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #616161;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #616161;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #616161;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #616161;
}
a{
	text-decoration:none;
}
.clear{clear:both}
/*----------------------------------------------*/
.loginWrapper{
	width:400px;
	padding-bottom:10px;	
	position:absolute;
    top: 30%;
    left: 31%;
	background: #F8F8F8; /* Old browsers */
	
	border:1px #817B7B solid;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	
	-moz-border-bottom-left-radius: 50px;
	-webkit-border-bottom-left-radius: 50px;
	border-bottom-left-radius: 50px;
	
	-moz-border-bottom-right-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	border-bottom-right-radius: 30px;
	
	-moz-border-top-right-radius: 50px;
	-webkit-top-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	
	-moz-box-shadow: 3px 4px 10px #4D4A4A;
	-webkit-box-shadow: 3px 4px 10px #4D4A4A;
	box-shadow: 3px 4px 10px #4D4A4A;
	font-size:12px;

	
}
.loginHeader{
	height:80px;
    background: transparent url(../images/logo01.png) no-repeat 4px 1px;
    background-size: contain;
}
.loginHeader h3{
    padding-top: 27px;
    padding-left: 93px;
    color: #ee7700;
    font-size: 18px;
}
.header .logo{
	background:red;
	width:100px;
	height:100px;
	float:left
}
.header .heading{
	float:left;
	padding-top: 35px;
	padding-left: 50px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing:1px;
}
.loginForm{
    font-size:12px;
}
.loginForm table td{
    min-width: 70px;
    position: relative;
    font-size: 12px;
    padding: 6px 2px;
}
.loginForm table{
	margin:auto
}
.loginForm input.textBox{
    border: 1px #a0a096 solid;
    padding: 2px;
}
.loginForm table td .warningMessage{
	border:2px #a92324 solid;
	position:absolute;
	padding:10px;
	background:#fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	top: -24px;
	left: -63px;
	
}
.loginForm p{
	padding-left: 40px;
	padding-top: 20px;
}
.loginForm label.error{
    position: absolute;
    top: -6px;
    left: 23px;
    white-space: nowrap;
    background: #a92324;
    padding: 5px 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .7;
    border: 2px red solid;
}
.loginTextBox{
	border:1px #817B7B solid;
	background:#fff;
	padding: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	
}
.loginButton, .commonButton{
	min-width:100px;
	padding: 5px 10px;
	border:0x #817B7B solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #EE7700;
	-moz-box-shadow: 0px 1px 1px #000;
	-webkit-box-shadow: 0px 1px 1px #000;
	box-shadow: 0px 1px 1px #000;
	margin-left: 10px;
	cursor:pointer;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:bold;
}
.loginButton:hover, .commonButton:hover{
	
}
.loginContentSection{
	margin:0px 12px;
}
.errorSection{
	padding:5px 8px;
	background:#ffffcc;
	margin:10px 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    border: 1px #ffaa00 solid;
    color: #dd0000;
}
.errorSection h3{
    font-size: 12px;
    font-weight: bold;
}
.errorSection p{
    font-size: 12px;
}
.loginContent{
	font-size:10px;
	font-weight:bold;
}
.loginFooter{
	font-size:12px;
}
.loginFooter a{
	text-decoration:underline;
	cursor:pointer;
}
.loginFooterLeft{
	float:left;
}
.loginFooterRight{
	float:right;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	
}
@media all{
	
}
@media all and (max-width: 1076px){
	.loginWrapper{
				
		top: 27%;
		left: 27%;
	}
}
@media all and (max-width: 960px){
	.loginWrapper{		
				
		top: 22%;
		left: 18%;
	}
}

@media all and (max-width: 760px){
	.loginWrapper{		
			
		top: 16%;
		left: 14%;
	}
}

@media all and (max-width: 610px){
	.loginWrapper{		
			
		top: 16%;
		left: 8%;
	}
}

/* Login Screen CSS ends */

/* Main Layout CSS starts */

*{
    margin:0;
    padding:0;
}

body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size:   100%;
    font-size:  80%;

}
/* Scroll code started */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;

}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #FFD369;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);

}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}




/*Layout CSS starts*/
.ui-layout-pane {
    background:	#ffffff;
    border:		1px #ffaa00 solid;
    overflow:	auto;
}
.ui-layout-content {
    padding:	10px;
    position:	relative; /* contain floated or positioned elements */
    overflow:	auto; /* add scrolling to content-div */
}
.outer-west ul li{
    white-space: nowrap;
}


.ui-layout-resizer	{ /* all 'resizer-bars' */
    background:		#FFD369;
    border:			1px solid #BBB;
    border-width:	0;
}
.ui-layout-toggler {
    border: 1px solid #D69D13; /* match pane-border */
    background-color: #D69D13;
}
.ui-layout-toggler-hover , /* need when NOT resizable */
.ui-layout-resizer-hover .ui-layout-toggler-hover { /* need specificity when IS resizable */
    background-color: #a2abc8;
    opacity: .7;
    filter:  alpha(opacity=100);
}
/*Layout CSS ends*/
.header {
    padding:7px;
    background:#ffffff;
    border-top: 0px
}
.header h3{
    margin:0;
    font-size: 20px;
    text-transform: uppercase;
}
.header h3 span{
    font-size: 30px;
    color:#ee7700;
}
/*leftmenuAccordion*/
#leftmenuAccordion{

}
#leftmenuAccordion h3{
    margin:0;
    background:#EE7700;
    padding:10px 10px;
    outline: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}
#leftmenuAccordion div h4{
    padding: 2px;
    font-size: 12px;
}
#leftmenuAccordion div ul{
    list-style:none;
    font-size: 12px;
}
#leftmenuAccordion div ul li{
    cursor: pointer;
    margin: 3px 0px;
    font-size:small;
}
#leftmenuAccordion .leftMenuAccordionContainer{
    padding:0
}
#leftmenuAccordion h3 span{
    display:none;
}
.leftMenu li{
    background: #fce5ad url(../images/sprite.png) no-repeat -53px 1px;
    padding: 10px 2px 10px 33px;
}
.leftMenu li:hover{
    background-color:#FFD369;
}
.leftMenu li.active{
    background-color:#FFD369;
}
/*Tabs*/
#tabs{
    border: 0;
}
.contentTabs .tabHead{
    background:#fce5ad;
    list-style:none;
    width: 100%;
    height: auto;
    border: 0;
}
.contentTabs .tabHead li{


    float: left;
    position: relative;
    top: 14px;
    padding: 6px 10px;
    margin: 4px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;

    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}
.ui-corner-top{
    background: #303e6f;
}
.ui-tabs-active{
    background: #E2DFDF;
}
.contentTabs .tabHead li a{
    outline: none;
    text-decoration:none;
    font-size: 12px;
    color: #222222;
    font-weight: bold;
}
.ui-icon-close{
    cursor:pointer;
    font-size: 14px;
    font-weight: bold;
}

.contentTabs{
    clear: both;
}


.footer h3{
    background:#fce5ad;
    margin:0;
    font-size: 13px;
    padding:5px 5px;
    text-transform: uppercase;
    color: #000;
}



/*Tree Menu starts*/
.treeview .hitarea {
    background: url(../images/treeview-default.gif) -64px -25px no-repeat;
    height: 16px;
    width: 16px;
    margin-left: -16px;
    float: left;
    cursor: pointer;
}
.treeview li {
    margin: 0;
    padding: 3px 0pt 3px 16px;
}
.treeview li.collapsable, .treeview li.expandable {
    background-position: 0 -176px;
}
.treeview .expandable-hitarea {
    background-position: -80px -3px;
}
.filetree li {
    padding: 3px 0 2px 16px;
}
.filetree span.folder, .filetree span.file {
    padding: 1px 0 1px 16px;
    display: block;
}
.filetree span.file {
    background: url(../images/file.gif) 0 0 no-repeat;
}
.filetree .subnodes li.active{
    background:#3e486b;

}
.filetree span.active{

}
.filetree span.folder {
    background: url(../images/folder.gif) 0 0 no-repeat;
    font-weight: bold;
}
/*Tree Menu Ends*/


/*Top DropDown Starts*/
.clear{
    clear:both;
}
.header .header_left{
    float:left;
}
.header .header_right{
    float:right;
    font-size: 12px;
    padding-top: 11px;
    font-weight: bold;
    position:relative;
}

.header .header_right .userIDName{
    float: left;
    padding-top: 3px;
    padding-right: 5px;
}
.header .header_right .userIdButton{
    float:right;
}
.header .header_right .userIdButton a{
    background: #222f52 url(../images/sprite.png) -2px -2px;
    padding: 10px;
    cursor: pointer;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    display: block;
    line-height: 11px;
}
.userSettings{
    background: #f7f7f7;
    position: absolute;
    z-index: 4;
    right: 10px;
    top: 61px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border:1px #b9b7b8 solid;
    display:none;
}
.userSettings ul{
    list-style:none;
}
.userSettings ul li{

}
.userSettings ul li a{
    display: block;
    padding: 12px 20px;

    text-decoration: none;
    border-bottom: 1px #dedede solid;
    clear:both;
}
.userSettings ul li a span{
    display: block;
}
.userSettings ul li a span.text,
.userSettings ul li a span.changePassword_ico,
.userSettings ul li a span.help_ico,
.userSettings ul li a span.logout_ico{
    display: block;
    float:left;
}
.userSettings ul li a span.changePassword_ico,
.userSettings ul li a span.help_ico,
.userSettings ul li a span.logout_ico {
    width: 30px;
    height: 30px;
}
.userSettings ul li a span.changePassword_ico{
    background: transparent url(../images/sprite.png) no-repeat 1px -49px;
}
.userSettings ul li a span.help_ico{
    background: transparent url(../images/sprite.png) no-repeat 1px -95px;
}
.userSettings ul li a span.logout_ico{
    background: transparent url(../images/sprite.png) no-repeat 1px -139px;
}
.userSettings ul li a span.text{
    width:140px;
    padding-top: 7px;
}
.userSettings ul li a.last{
    border-bottom: 0px #dedede solid;
}
/*Top DropDown Ends*/


/*Filter Layout Starts*/
.footer .filter_left{
    float:left;
}
.footer .filter_right{
    float:right;
}
.footer table td{

}
.filterButton{
    min-width:100px;
    padding: 5px 10px;
    border:0x #817B7B solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #EE7700;
    -moz-box-shadow: 0px 1px 1px #000;
    -webkit-box-shadow: 0px 1px 1px #000;
    box-shadow: 0px 1px 1px #000;
    margin-left: 10px;
    cursor:pointer;
    text-transform: uppercase;
    font-size: 10px;
    font-weight:bold;
}
/*Filter Layout Ends*/

/* Main Layout ends */

.sectionLeft{
    float: left;
    width: 50%;
}
.sectionRight{
    float:right;
    width: 50%;
}
.sectionLeft .contentDoc,.sectionRight .contentDoc{
    margin:10px;
    border: 1px #ffaa00 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 0px 0px 3px #4D4A4A;
    -webkit-box-shadow: 0px 0px 3px #4D4A4A;
    box-shadow: 0px 0px 3px #4D4A4A;
    font-size:12px;
}
.sectionLeft .contentDoc h3,.sectionRight .contentDoc h3{
    display: block;
    background: #fce5ad;
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
}
.contentDoc h3{
    padding:2px;
}
.contentDoc table{
    font-size: 12px;
}
.contentDoc table td{
    padding:3px;
}
.contentDoc table input{
    border:1px #a0a096 solid;
    padding:2px;
}
.contentDoc .mainConte{
    padding: 5px;
}
.bottomElementsPanel table{
    font-size: 12px;
}
.bottomElementsPanel table td{
    padding: 3px;
}
.bottomElementsPanel table input, .bottomElementsPanel table select {
    width: 100%;
    border: 1px #a0a096 solid;
    padding: 2px;
}
.bottomRight{
    float: right;
    width: 100px;
    height: 100px;
    background:  url(../images/logo01.png) no-repeat center top;
    margin-top: 10px;
}
.ui-layout-toggler-south{
    background: #D69D13 url(../images/sprite.png) no-repeat 11px -228px;
}
.ui-layout-toggler-south-closed{
    background: #D69D13 url(../images/sprite.png) no-repeat 11px -198px;
}
.ui-layout-toggler-west{
    background: #D69D13 url(../images/sprite.png) no-repeat -10px -275px;
}
.ui-layout-toggler-west-closed{
    background: #D69D13 url(../images/sprite.png) no-repeat -10px -238px;
}

.parishForm label.error{
    position: relative;
    top: -6px;
    left: 23px;
    white-space: nowrap;
    background: #a92324;
    padding: 5px 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .7;
    border: 2px red solid;
    color: rgb(212, 219, 32);
}

label.error{
    position: relative;
    top: -6px;
    left: 23px;
    white-space: nowrap;
    background: #a92324;
    padding: 5px 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: .7;
    border: 2px red solid;
    color: rgb(212, 219, 32);
}

.menubtnstyle span a{
    color: #FFD369 !important;
}

.menubtnstyle{
    background-color: #FFD369 !important;
}

#prayerUnitAccordion>h3{
    padding:10px;
}
#prayerUnitAccordion>h3 span{
    display: none;
}
#prayerUnitAccordion .ui-state-active{
    color:#EE7700;
}